@media screen and (min-width: 1920px) and (min-height: 1080px)
  .land
    &__welcome
        transform: translateY(-50%) scale(1)
        transform-origin: left
    &__player
      right: 290px

@media screen and (min-width: 2204px) and (min-height: 981px)
  .land
    &__welcome
      transform: translateY(-50%) scale(1.2)
      left: 400px
    &__player
      max-width: 32%
      right: 270px
@media screen and (min-width: 2560px) and (min-height: 1364px)
  .land
    &__welcome
      transform: translateY(-50%) scale(1.3)
      left: 400px
    &__player
      max-width: 34%
      right: 350px

@media screen and (max-width: 1920px) and (max-height: 1050px)
  .land
    &__player
      max-width: 37%
// @media screen and (max-width: 1920px) and (max-height: 929px)
//   .land
//     &__player
//       right: 270px
@media screen and (max-width: 1920px) and (max-height: 860px)
  .land
    &__player
      right: 160px
      max-width: min(33%, calc(100% - 106px))
@media screen and (max-width: 1830px) and (max-height: 920px)
  .land
    &__player
      right: 260px
      max-width: min(33%, calc(100% - 106px))
@media screen and (max-width: 1706px) and (max-height: 1280px)
  .land
    &__welcome
      margin-top: 40px
      transform: translateY(-50%) scale(1.2)
    &__player
      right: 60px
      min-width: 44%

@media screen and (max-width: 1680px) and (max-height: 1050px)
  .land 
    &__welcome
      transform: translateY(-50%) scale(1)
      transform-origin: left
      left: 50px
    &__player
      right: 160px
@media screen and (max-width: 1600px) and (max-height: 900px)
  .land
    // &__welcome
    //     transform: translateY(-50%) scale(1)
    //     transform-origin: left
    //     left: 50px
    &__player
      right: 100px
      max-width: 35%
      min-width: auto
@media screen and (max-width: 1600px) and (max-height: 850px)
  .land
    &__player
      max-width: 33%
@media screen and (max-width: 1600px) and (max-height: 800px)
  .land
    &__player
      max-width: 32%
@media screen and (max-width: 1440px) and (max-height: 900px)
  .land
    &__player
      max-width: 40%
      right: 50px
@media screen and (max-width: 1536px) and (max-height: 900px)
  .land
    &__welcome
      left: 100px

@media screen and (max-width: 1536px) and (max-height: 800px)
  .land
    &__welcome
      margin-top: 40px
@media screen and (max-width: 1536px) and (max-height: 730px)
  .land
    &__player
      right: 100px
      max-width: 33%
@media screen and (max-width: 1470px) and (max-height: 670px)
  .land
    &__player
      right: 150px
      max-width: 30%
    &__welcome
      margin-top: 40px
      transform: translateY(-50%) scale(0.95)

@media screen and (max-width: 1376px) and (max-height: 958px)
  .land
    &__welcome
      left: 50px
      transform: translateY(-50%) scale(0.95)
    &__player
      right: 30px
      min-width: 43%
@media screen and (max-width: 1368px) and (max-height: 768px)
  .land
    &__player
      min-width: 39%
@media screen and (max-width: 1368px) and (max-height: 680px)
  .land
    &__player
      min-width: 36%
@media screen and (max-width: 1368px) and (max-height: 1024px) // ipad pro
  .land
    &__welcome
      left: 30px
      transform: translateY(-50%) scale(0.95)
    &__bonus 
      margin-left: 50px
    &__player
      min-width: 50%
      right: 50px
@media screen and (max-width: 1368px) and (max-height: 768px) 
  .land
    &__player
      min-width: 33%
@media screen and (max-width: 1302px) and (max-height: 1035px)
  .land
    &__player
      right: 30px
      min-width: 50%
    &__bonus 
      margin-left: 30px
    &__welcome
      left: 30px
@media screen and (max-width: 1280px) and (max-height: 800px)
  .land
    &__welcome
      // left: -20px
      transform: translateY(-50%) scale(0.85)
    &__player
      right: 30px
      min-width: 40%
@media screen and (max-width: 1280px) and (max-height: 740px)
  .land
    &__player
      right: 40px
      min-width: 36%
@media screen and (max-width: 1280px) and (max-height: 680px)
  .land
    &__player
      right: 110px
      min-width: 34%
@media screen and (max-width: 1280px) and (max-height: 630px)
  .land
    &__player
      right: 130px
      min-width: 32%
@media screen and (max-width: 1292px) and (max-height: 1024px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.8)
      transform-origin: left
    &__player
      min-width: 45%
      right: 100px
@media screen and (max-width: 1280px) and (max-height: 800px) // nest hub max
  .land
    &__player
      min-width: 37%
      max-width: 37%
      right: 130px
@media screen and (max-width: 1280px) and (max-height: 750px)
  .land
    &__player
      min-width: 36%
      right: 150px
@media screen and (max-width: 1280px) and (max-height: 700px)
  .land
    &__player
      min-width: 33%
      right: 170px
@media screen and (max-width: 1280px) and (max-height: 650px)
  .land
    &__player
      min-width: 31%
@media screen and (max-width: 1205px) and (max-height: 715px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.8)
    &__player
      min-width: 35%
@media screen and (max-width: 1180px) and (max-height: 820px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.9)
      left: 30px
      transform-origin: left
    &__player
      min-width: 42%
      right: 40px
@media screen and (max-width: 1194px) and (max-height: 715px)
  .land
    &__player
      min-width: 35%
      right: 100px
@media screen and (max-width: 1138px) and (max-height: 712px)  //tab s4
  .land
    &__player
      right: 50px
@media screen and (max-width: 1133px) and (max-height: 672px)
  .land
    &__player
      right: 60px
@media screen and (max-width: 1120px) and (max-height: 768px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.8)
@media screen and (max-width: 1114px) and (max-height: 720px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.75)
      left: 50px
@media screen and (max-width: 1080px) and (max-height: 750px)
  .land
    &__bonus
      margin-left: 50px

@media screen and (max-width: 1061px) and (max-height: 768px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.7)
      left: 30px
      transform-origin: left
    &__player
      min-width: 45%
@media screen and (max-width: 1024px) and (max-height: 600px)
  .land
    &__player
      min-width: 35%
      right: 110px
@media screen and (max-width: 1042px) and (max-height: 834px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.7)
      left: 30px
      transform-origin: left

@media screen and (max-width: 932px) and (max-height: 430px)
  .land
    &__welcome
      transform-origin: left
      left: 40px
    &__player
      min-width: 26%
      max-width: 26%
      right: 140px
      max-height: 360px
@media screen and (max-width: 914px) and (max-height: 414px)
  .land
    &__player
      max-height: 360px
@media screen and (max-width: 914px) and (max-height: 412px)
  .land
    &__welcome
      transform-origin: left
      left: 40px
      transform: translateY(-50%) scale(0.6)
    &__player
      min-width: 30%
      right: 100px
      max-height: 330px
@media screen and (max-width: 904px) and (max-height: 768px)
  .land
    &__welcome
      left: 20px
    &__player
      min-width: 45%
      right: 20px
@media screen and (max-width: 896px) and (max-height: 414px)
  .land
    &__player
      min-width: 25%
      right: 100px
@media screen and (max-width: 882px) and (max-height: 344px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.5)
      left: 90px
    &__player
      min-width: 23%
      max-width: 23%
      max-height: 290px
      right: 200px

@media screen and (max-width: 844px) and (max-height: 390px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.65)
@media screen and (max-width: 829px) and (max-height: 690px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.6)
    &__player
      right: 20px
@media screen and (max-width: 829px) and (max-height: 411px) and (orientation: landscape)
  .land
    &__player
      max-height: calc(100% - 66px)
      right: 130px
@media screen and (max-width: 824px) and (max-height: 289px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.45)
      left: 100px
    &__player
      right: 200px
      min-width: 18%
      max-width: 18%
@media screen and (max-width: 823px) and (max-height: 411px) and (orientation: landscape) //pixel2xl
  .land
    &__welcome
      transform: translateY(-50%) scale(0.55)
      left: 60px
    &__player
      min-width: 28%
      max-width: 28%
      right: 150px
@media screen and (max-width: 808px) and (max-height: 331px)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.55)
@media screen and (max-width: 786px) and (orientation: landscape)
  .land
    &__player
      max-height: calc(100% - 66px)
      right: 100px
    &__welcome
      transform-origin: left
      left: 20px
      background-size: contain
      max-width: 100%

@media screen and (max-width: 786px) and (max-height: 393px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.65)
    &__player
      min-width: 30%
@media screen and (max-width: 786px) and (max-height: 304px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.6)
    &__player
      max-width: 21%
      min-width: 21%
@media screen and (max-width: 768px) and (orientation: landscape)
  .land
    &__welcome
      left: 20px 
    &__bonus
      margin-left: 10px
@media screen and (max-width: 768px) and (max-height: 369px) and (orientation: landscape)
  .land
    &__welcome
      left: 60px 
    &__player
      right: 130px
@media screen and (max-width: 746px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.5)
      transform-origin: left
      left: 50px
@media screen and (max-width: 746px) and (max-height: 428px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.7)
      transform-origin: left
      left: 50px
    &__player
      right: 100px
      max-height: calc(100% - 40px)
@media screen and (max-width: 745px) and (max-height: 414px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-55%) scale(0.65)
@media screen and (max-width: 740px) and (max-height: 360px) and (orientation: landscape)
  .land
    &__player
      right: 100px
@media screen and (max-width: 736px) and (max-height: 414px) and (orientation: landscape) //ip6/7/8+ pixel2
  .land
    &__player
      right: 80px
      max-width: 34%
      min-width: 20%
@media screen and (max-width: 720px) and (max-height: 540px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-55%) scale(0.65)
      left: 20px
    &__player
      right: 30px
@media screen and (max-width: 708px) and (max-height: 655px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.65)
      left: 20px
    &__player
      right: 30px
@media screen and (max-width: 691px) and (max-height: 655px) and (orientation: landscape)
  .land
    &__player
      right: 30px
@media screen and (max-width: 667px) and (max-height: 375px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-53%) scale(0.7)
@media screen and (max-width: 715px) and (max-height: 414px) and (orientation: landscape)
  .land
    &__player
      right: 70px
@media screen and (max-width: 658px) and (max-height: 320px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.6)
      left: 40px
    &__player
      max-height: calc(100% - 40px)
@media screen and (max-width: 640px) and (max-height: 360px) and (orientation: landscape)
  .land
    &__welcome
      transform: translateY(-50%) scale(0.6)
      left: 30px
    &__player
      right: 70px  //s5
      max-height: calc(100% - 56px)
      min-width: 35%
@media screen and (max-width: 568px) and (max-height: 320px) and (orientation: landscape)
  .land
    &__player
      min-height: 0
      right: 20px
@media screen and (max-width: 553px) and (max-height: 375px) and (orientation: landscape)
  .land
    &__welcome
      left: 10px
    &__bonus
      margin-left: 0
    &__player
      min-width: 190px
      right: 10px
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
//TABLET
@media screen and (max-width: 1300px) and (orientation: portrait)
  .land
    background: url('../img/bg-768.jpg') no-repeat 50% 50%/cover
    display: flex
    flex-direction: column-reverse
    justify-content: flex-start

    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      right: 0
      height: 150px
      background: linear-gradient(180deg, rgba(8, 7, 26, 0.00) 0%, #08071A 100%)
    &__welcome
      position: static
      margin-top: 28px
      margin-inline: auto
      max-width: 540px
      height: 100%
      transform: none
      background-image: url("../img/welcome.svg")
      background-position: top
      background-repeat: no-repeat
      background-size: contain
      padding: 40px 26px 16px
      gap: 8px
      z-index: 2
    &__title
      font-size: 56px
    &__subtitle
      font-size: 32px
    &__bonus
      margin-left: 0
      height: 100%
      width: 100%
      gap: 50px
    &__link
      margin-top: auto
    &__player
      max-width: 74%
      width: 100%
      max-height: 72%
      right: 50%
      transform: translateX(50%)
      z-index: 0
      animation: playerFloatY $player-animation-speed ease-in-out infinite

    &__partners
      width: 100%
@media screen and (max-width: 1280px) and (max-height: 1706px) and (orientation: portrait)
  .land
    &__player
      max-width: 65% //fold
    &__welcome
      margin-top: 120px
      max-width: 800px
      justify-content: center
    &__bonus
      gap: 100px
@media screen and (max-width: 1279px) and (max-height: 1705px) and (orientation: portrait)
  .land
    &__welcome
      margin-top: 28px
@media screen and (max-width: 1024px) and (max-height: 1368px) and (orientation: portrait)
  .land
    &__welcome
      transform: scale(1.2)
      transform-origin: top
      padding-bottom: 240px
      max-width: 600px
@media screen and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait)
  .land
    &__player
      max-width: 85%
@media screen and (max-width: 1050px) and (max-height: 1400px) and (orientation: portrait)
  .land
    &__player
      max-width: 75%
@media screen and (max-width: 1032px) and (max-height: 1302px) and (orientation: portrait)
  .land
    &__player
      max-width: 61%
@media screen and (max-width: 1024px) and (max-height: 1368px) and (orientation: portrait)
  .land
    &__player
      max-width: 65% //ipad pro
@media screen and (max-width: 1024px) and (max-height: 1292px) and (orientation: portrait)
  .land
    &__player
      max-width: 61%
@media screen and (max-width: 1024px) and (max-height: 1259px) and (orientation: portrait)
  .land
    &__player
      max-width: 60%
@media screen and (max-width: 912px) and (max-height: 1368px) and (orientation: portrait)
  .land
    &__player
      max-width: 72%
@media screen and (max-width: 853px) and (max-height: 1280px) and (orientation: portrait)
  .land
    &__welcome
      margin-top: 100px
    &__player
      max-width: 68%

@media screen and (max-width: 852px) and (max-height: 1279px) and (orientation: portrait)
  .land
    &__welcome
      margin-top: 28px 
@media screen and (max-width: 834px) and (max-height: 1120px) and (orientation: portrait)
  .land
    &__player
      max-width: 65%
    &__bonus
      gap: 50px
@media screen and (max-width: 834px) and (max-height: 1042px) and (orientation: portrait)
  .land
    &__welcome
      max-width: 540px
      transform: scale(1)
      padding-bottom: 20px
    &__player
      max-width: 60%
@media screen and (max-width: 800px) and (max-height: 1280px) and (orientation: portrait)
  .land
    &__welcome
      margin-top: 28px 
    &__player
      max-width: 76%
@media screen and (max-width: 720px) and (max-height: 1280px) and (orientation: portrait)
  .land
    &__player
      max-width: 85%
@media screen and (max-width: 715px) and (max-height: 1194px) and (orientation: portrait)
  .land
    &__player
      max-width: 78%
@media screen and (max-width: 585px) and (max-height: 1285px) and (orientation: portrait)
  .land
    &__welcome
      max-width: 540px
      transform: scale(1)
      padding-bottom: 20px
    &__player
      max-width: 95%
@media screen and (max-width: 820px) and (max-height: 1180px) and (orientation: portrait)
  .land
    &__welcome
      transform: scale(1)
      padding-bottom: 16px
      max-width: 600px
    &__bonus
      gap: 50px
    &__player
      max-width: 70% //ipad air
@media screen and (max-width: 712px) and (max-height: 1138px) and (orientation: portrait)
  .land
    &__player
      max-width: 80%//tab s4
@media screen and (max-width: 810px) and (max-height: 1010px) and (orientation: portrait)
  .land
    &__welcome
      max-width: 540px
    &__player
      max-width: 61%
@media screen and (max-width: 810px) and (max-height: 977px) and (orientation: portrait)
  .land
    &__player
      max-width: 59%
@media screen and (max-width: 810px) and (max-height: 904px) and (orientation: portrait)
  .land
    &__player
      max-width: 60%
@media screen and (max-width: 768px) and (max-height: 1120px) and (orientation: portrait)
  .land
    &__player
      max-width: 70%
@media screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) //ipad mini
  .land
    &__player
      max-width: 65%
@media screen and (max-width: 768px) and (max-height: 904px) and (orientation: portrait)
  .land
    &__player
      max-width: 55%
@media screen and (max-width: 764px) and (max-height: 1112px) and (orientation: portrait)
  .land
    &__player
      max-width: 71%
@media screen and (max-width: 753px) and (max-height: 1037px) and (orientation: portrait)
  .land
    &__player
      max-width: 68%
@media screen and (max-width: 720px) and (max-height: 1114px) and (orientation: portrait)
  .land
    &__player
      max-width: 75%
@media screen and (max-width: 707px) and (max-height: 1080px) and (orientation: portrait)
  .land
    &__player
      max-width: 73%
@media screen and (max-width: 712px) and (max-height: 970px) and (orientation: portrait)
  .land
    &__player
      max-width: 66%
@media screen and (max-width: 690px) and (max-height: 829px) and (orientation: portrait)
  .land
    &__player
      max-width: 55%
@media screen and (max-width: 655px) and (max-height: 709px) and (orientation: portrait)
  .land
    &__welcome
      transform: scale(0.9)
      margin-top: 10px
    &__bonus
      height: 110%
    &__player
      max-width: 49%
@media screen and (max-width: 655px) and (max-height: 691px) and (orientation: portrait)
  .land
    &__welcome
      transform: scale(0.9)
      margin-top: 10px
    &__bonus
      height: 110%
      gap: 50px
@media screen and (max-width: 654px) and (max-height: 690px) and (orientation: portrait)
  .land
    &__welcome
      transform: scale(1)
      margin-top: 10px
    &__bonus
      height: 100%
@media screen and (max-width: 540px) and (max-height: 823px) and (orientation: portrait)
  .land
    background: url('../img/bg-375.jpg') no-repeat 50% 50%/cover
    &__player
      max-width: 70%
@media screen and (max-width: 540px) and (max-height: 720px) and (orientation: portrait)
  .land
    &__player
      max-width: 60%
  
@media screen and (max-width: 564px) and (orientation: portrait)
  .land
    &__welcome
      margin-inline: 12px
      max-width: calc(100% - 24px)
      padding-top: 20px
    &__title
      font-size: 45px
@media screen and (max-width: 430px) and (max-height: 932px) and (orientation: portrait)
  .land
    &__welcome
      margin-top: 50px
    &__player
      max-width: 95%
@media screen and (max-width: 429px) and (max-height: 895px) and (orientation: portrait)
  .land
    &__welcome
      margin-top: 28px
@media screen and (max-width: 428px) and (max-height: 746px) and (orientation: portrait)
  .land
    &__player
      max-width: 80%// pixel2
@media screen and (max-width: 393px) and (max-height: 760px) and (orientation: portrait)
  .land
    &__player
      max-width: 85%
@media screen and (max-width: 393px) and (max-height: 666px) and (orientation: portrait)
  .land
    &__player
      max-width: 74%

@media screen and (max-width: 375px) and (orientation: portrait)
  .land
    background: url('../img/bg-375.jpg') no-repeat 50% 50%/cover
    &__bonus
      gap: 38px
    &__welcome
      margin-top: 100px
      padding-inline: 10px
      margin-inline: 10px
    &__player
      max-width: 97%
@media screen and (max-width: 375px) and (max-height: 812px) and (orientation: portrait) //ipX
  .land
    &__welcome
      margin-top: 50px
@media screen and (max-width: 375px) and (max-height: 667px) and (orientation: portrait)
  .land
    &__welcome
      margin-top: 28px
    &__player
      max-width: 76%
@media screen and (max-width: 375px) and (max-height: 553px) and (orientation: portrait)
  .land
    &__player
      max-width: 60%
@media screen and (max-width: 360px) and (max-height: 640px) and (orientation: portrait)
  .land
    &__player
      max-width: 78%
 

@media screen and (max-width: 374px)
  .land
    &__bonus
      gap: 30px
    &__title
      font-size: 34px
    &__subtitle
      font-size: 20px
@media screen and (max-width: 320px) and (max-height: 658px) and (orientation: portrait)
  .land
    &__welcome
      margin-top: 15px
    &__player
      max-width: 90%
@media screen and (max-width: 320px) and (max-height: 568px) and (orientation: portrait)
  .land
    &__welcome
      margin-top: 5px
    &__player
      max-width: 78%