body
  color: white

.land
  background: radial-gradient(74.32% 100% at 50% 0%, #281880 0%, #0E082F 100%)
  width: 100%
  height: 100%
  -webkit-tap-highlight-color: transparent
  overscroll-behavior: none
  display: flex
  background-image: url('./img/')








// $blue: #005
// $magenta: #FF267E
// $white: #fff

// $font-suisseIntl-semiBold: SuisseIntl-SemiBold, sans-serif //600
// $font-suisseIntl-regular: SuisseIntl-Regular, sans-serif //400

// body
//   overscroll-behavior: none
//   img
//     max-width: 100%
//     height: auto
// .wrapper
//   width: 100%
//   height: 100%
//   -webkit-tap-highlight-color: transparent
//   overscroll-behavior: none
//   display: flex
// .offer
//   position: relative
//   width: 50%
//   height: calc(var(--vh, 1vh) * 100)
//   overflow: hidden
//   background: url("../img/bg-960.jpg") no-repeat 50% 50%/cover
//   @media screen and (max-width: 1440px)
//     background: url("../img/bg-720.jpg") no-repeat 50% 50%/cover
//   @media screen and (max-width: 1280px)
//     background: url("../img/bg-640.jpg") no-repeat 50% 50%/cover
//   @media screen and (max-width: 1260px)
//     background: url("../img/bg-512.jpg") no-repeat 50% 50%/cover

//   &__players
//     position: absolute
//     bottom: 0
//     margin-bottom: -4px
//   &__bottom
//     position: absolute
//     bottom: 130px
//     display: flex
//     flex-direction: column
//     justify-content: center
//     align-items: center
//     color: $white
//     font-family: $font-suisseIntl-semiBold
//     padding: 11px 97px 20px
//     width: 100%
//     left: 50%
//     transform: translateX(-50%)
//   &__title
//     text-align: center
//     text-shadow: 0px 3.815px 0px #000
//     font-size: 58px
//     font-style: normal
//     line-height: normal
//     letter-spacing: 3.19px
//     text-transform: uppercase
//     margin-bottom: 13px
//   &__container
//     position: relative
//     display: flex
//     width: 100%
//   &__price
//     position: relative
//     width: 50%
//     padding: 10px 10px 5px 5px

//     display: flex
//     align-items: baseline
//     justify-content: center
//     text-wrap: nowrap
//     text-transform: uppercase
//     font-size: 58px
//     letter-spacing: 3.19px
//     background-color: $blue
//     &::before
//       content: 'до'
//       position: relative
//       margin-right: 5px
//       font-size: 27px
//       letter-spacing: 1.485px
//   &__plus
//     width: 100%
//     height: 50%
//     background-image: url("../img/plus.svg")
//     background-size: contain
//     background-repeat: no-repeat
//     background-position: center
//     position: absolute
//     top: 50%
//     left: 50%
//     transform: translate(-50%, -50%)
//   &__spins
//     background-color: $magenta
//     width: 50%
//     padding: 10px 26px 5px
//     display: flex
//     align-items: baseline
//     text-transform: uppercase
//     justify-content: center
//     font-size: 58px
//     letter-spacing: 3.19px

//   &__details
//     margin-top: 23px
//     text-transform: uppercase
//     text-shadow: 0px 1.908px 0px #000
//     font-size: 11px
//     line-height: 160%
//     letter-spacing: 0.605px
//     font-family: $font-suisseIntl-regular