.land
  .lights
  .land__header
    img(src="./img/logo.svg", alt="lopebet").land__logo
    .land__buttons
      a(href="#", target="blank").land__button.land__button--up sign up
      a(href="#", target="blank").land__button.land__button--in sign in
  .land__player
