.land
  .land__lights-shadow
  .land__welcome
    .land__bonus
      .land__wrapper
        p.land__title 350% Sport <br/> Welcome Bonus
        p.land__subtitle for the first 2 deposits
      a(href="#", target="blank").land__link Get Bonus
      img(src="img/partners.svg", alt="lopebet-partners").land__partners
  .land__lights
  .land__header
    img(src="img/logo.svg", alt="lopebet").land__logo
    .land__buttons
      a(href="#", target="blank").land__button.land__button--up sign up
      a(href="#", target="blank").land__button.land__button--in.active sign in


  .land__player
    picture
          //- source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/player.png")
          //- source(media="(max-width: 1279px)" srcset="img/player-1920.png")
          //- source(media="(max-width: 1440px)" srcset="img/player-1920.png")
          //- source(media="(min-width: 1441px)" srcset="img/player-1920.png")
          img(src="img/player-1920.png" alt="favbet")
